<br>
<br>
<br>

<div class="container picha-tosha">
    <div class="row">
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <span class="card-title">Card Title</span>

                    <img class="responsive-img"
                        src="https://image.freepik.com/free-vector/404-error-web-template-with-mad-cat_23-2147763345.jpg">
                </div>
                <div class="card-content center-align">
                    <p>Ooops! Page not found. Please click one of the links on the top of the screen to be
                        redirected to your page of choice
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>